*
{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      color: black;
}

html
{
      font-size: 65,5px;
}

main
{
      font-family: 'Itim', cursive;
}

#aux-menu-header
{
      font-family: 'Itim', cursive;
      border-radius: 1.2rem;
      display: flex;
      height: 6rem;
      position: relative;
      overflow: hidden;
}

.menu-principal
{
      margin: auto auto;
            /* background-color: bisque; */
}

.numero-asistencia
{
      background-color: rgb(255, 196, 0);
      width:10.5rem;
      height: 6rem;
      position: absolute;
      right: 0;
}

.numero-asistencia .menu-principal
{
      margin: 2.3rem 0;
      text-align: center;
}

/* Stylos a las tipografias del header menu */
.menu-principal a
{
      margin: 0.5rem;
      font-size: 1.1rem;
      color: rgb(0, 0, 0);
      text-decoration: none;
}


/* Styles Main */

#content-principal
{
      display: flex;
      flex-wrap: wrap;
      width: 200rem;
      max-height: 35rem;
      justify-content: center;
      /* background-color: antiquewhite; */
}


/* Section Work */
#section-work
{
      background-color: rgb(80, 80, 80);
      height: 40rem;
      text-align: center;
}